*{
    margin:0;
    padding:0;
    font-family:Arial;
    box-sizing: border-box;
}
.page-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 16px;
}
.navbar{
    background-color: #0f1111;
    color:white;
    display:flex;                 
    align-items:center;           
    justify-content: space-evenly;
    height:60px;                  
}
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2*/
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left:15px;
}
.add-sec{
    font-size:1rem;
}
.add-icon{
    display:flex;
    align-items:center;
}
/* box 3*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    width:700px;
    height:40px;
    border-radius:4px;
}
.search-select{
    background-color: #e3d6d6;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    flex:2.5;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:42px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}
.nav-search:hover{
    border: 2px solid #fcc072;
}

/* box 4*/
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
/*box 6*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700px;
}
.lang{
    display:flex;
    margin-top: 15px;
    gap:8px;
}
.lang-select{
    align-items:center;
    background-color: #0f1111;
    color: white;
    border:none;
    font-weight: bold;
}
.lang-select img{
    width:22px;
    height:16px;
}
.lang-option{
    margin-left: 3px;
    width:40px;
    height:16px;
}
/* panel*/
.panel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display:inline;
    margin-left:15px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700px;
}
/* hero section*/
.hero-sec{
    background-image: url(hero_image.jpg);
    height: 325px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.text{
    text-decoration: none;
}
.hero-msg{
    background-color: white;
    color:#0f1111;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px ;/*14px*/
    font-weight: 500px;
    width: 100%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:#2162a1;
}
/*shop section*/
.shop-sec{
    background-color: #e2e7e6;

}
.shop-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:16px;
}
.box{
    border: 2px solid black;
    background-color: white;
    height: 400px;
    width: 100%;
    margin-top:15px;
    border:none;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #2162a1;
}
.slider-cont{
    overflow-x:auto;
    scrollbar-width:thin;
}
.slider{
    display:flex;
    gap: 20px;
}
.card{
    min-width: 200px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-color: white;
}
.top-india-bg {
    background-color: #e2e7e6;   /* Amazon grey */
    padding: 20px 0;
}
.top-india-inner{
    background-color: white;
    padding: 20px;
}
.top-india-bg h2{
    margin-bottom: 10px;
}
.category-sec{
    background-color: #e2e7e6;
    padding: 20px 0;
}
.category-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.category-card{
    background-color: white;
    padding: 20px;
}
.card-images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 15px 0;
}
.card-images img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.category-card h2{
    font-size: 21px;
    margin-bottom: 10px;
}
.card-images p{
    font-size: 12px;
    margin-top: 5px;
}
.category-card a{
    color: #007185;
    font-size: 13px;
    text-decoration: none;
}
.new-cust-inner{
    background-color: white;
    padding: 20px;
}
.new-cust-bg{
    background-color: #e2e7e6;
    padding: 20px 0;
}
/* footer*/
.foot-panel1{
    background-color:#37475a;
    color:white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #0f1111;
    color:white;
    height: 90px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
@media (max-width: 1024px){
    .shop-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    .shop-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px){
    .card{
        min-width: 140px;
        height: 180px;
    }
}
@media (max-width: 768px){
    .nav-return{
        display: none;
    }
    .nav-search{
        width: 100%;
    }
}
@media (max-width: 600px){
    .category-grid{
        grid-template-columns: 1fr;
    }

    .category-card{
        padding: 14px;
    }

    .category-card h2{
        font-size: 18px;
    }

    .card-images img{
        height: 100px;
    }
}

